@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 20px;
  background-color: #ccf5ff;
  font-family: "Montserrat", sans-serif;
  color: #203F4A;
  text-align: center;
  font-size: 18px;
}

form {
  margin: 20px;
}

button, .remove-query {
  background-color: #edf8fa;
  border-color: #edf8fa;
  border-radius: 5px;
  border-style: solid;
}

h1 {
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 48px;
}

h2 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    height: 50px;
}

a {
  color: #203F4A;
}

a:hover {
  color: #00ccff;
}

.weather-data {
  text-align: left;
}

#weather-icon {
  float: right;
  margin-right: 25%;
}

.weather-data > p {
  margin-left: 25%;
}

.weather-data > button {
  margin-left: 45%;
}

.list-group-item {
  background-color: #ccf5ff;
  transform: scale(0.75, 0.75);
  font-size: 16px;
}

.query-name {
  float: left;
}

.remove-query {
  float: right;
}

#error-message {
  text-align: center;
  font-size: 24px;
  background-color: #e580ff;
  border-radius: 20px;
  padding: 10px;
}

.hidden {
  display: none;
}
